.hero {
  width: 100%;
  height: 66.2rem;
  padding: 7.2rem 0rem;
  .container {
    @include flex(row, nowrap, center, space-between);
    padding: 0rem 17.8rem;
    gap: 0.8rem;
    .text {
      width: 100%;
      max-width: 41.6rem;
      h1,
      b {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 120%;
        letter-spacing: -0.05em;
      }
      b {
        background: linear-gradient(256.1deg, #820ad1 53.6%, #39005f 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      h4 {
        margin-top: 2.4rem;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #4d5766;
      }
    }
    .illust {
      width: 42rem;
      height: 51.6rem;
      position: relative;
      .cardleft {
        position: absolute;
        width: 30.241rem;
        height: 28.347rem;
        left: 0rem;
        top: 23.3rem;
        animation: cardleftpulse 3s ease-in infinite;
      }
      @keyframes cardleftpulse {
        0% {
          transform: translateY(1.6rem);
        }
        50% {
          transform: translateY(0.8rem);
        }
        100% {
          transform: translateY(1.6rem);
        }
      }
      .cardright {
        position: absolute;
        width: 24.287rem;
        height: 36.3rem;
        left: 17.7rem;
        top: 0rem;
        animation: cardrightpulse 2s ease-in infinite;
      }
      @keyframes cardrightpulse {
        0% {
          transform: translateY(-1.2rem);
        }
        50% {
          transform: translateY(0.5rem);
        }
        100% {
          transform: translateY(-1.2rem);
        }
      }
    }
  }
}
